{% extends 'base copy.html' %}
{% block content %}
<div class="col-xl-8 py-5 px-md-5">
    <div class="row pt-md-4">
					<h1>{{ category.title }}</h1>

    {% for product in projectsCat.all %}
            <div class="col-md-12">
                <div class="blog-entry ftco-animate d-md-flex">
                    <a href="{% url 'detail' product.id %}" class="img img-2" style="background-image: url({{product.image.url}});"></a>
                    <div class="text text-2 pl-md-4">
          <h3 class="mb-2"><a href="{% url 'detail' product.id %}">{{ product.title }}</a></h3>
          <div class="meta-wrap">
                            <p class="meta">
                  <span><i class="icon-calendar mr-2"></i>{{ product.pub_date_short }}</span>
                  <span><a href="{% url 'detail' product.id %}"><i class="icon-folder-o mr-2"></i>{{ product.category }}</a></span>
                  <span><a href="{% url 'detail' product.id %}"><i class="icon-user-o mr-2"></i>{{ product.author }}</a></span>
                  <br>
                  <span><a href="{% url 'detail' product.id %}">Posted by {{ product.hunter }}</a></span>
              </p>
          </div>
          <p class="mb-4">{{ product.summary }}</p>
          <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btn-custom"> Upvote {{ product.votes_total}}</button></a>
        </div>
                </div>
            </div>
    {% endfor %}            
    </div><!-- END-->
    <div class="row">
  <div class="col">
    <div class="block-27">
      <!-- <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul> -->
    </div>
  </div>
</div>
</div>

{% endblock %}
